 <div class="col">
<div class='card' style="width: 30rem; border-style:none; border-width:0px;">
  <img
    src='{{this.image_url}}'
    class='card-img-top'
    style='max-width: 10% ; height: 15%; margin:auto'
  />
  <div class='card-body' style="border-style:none; border-width:0px;">
    <h5 class='card-title'>{{this.name}}</h5>
    <p class='card-text'>{{this.tagline}}</p>
    <p class='card-text'>{{this.description}}</p>
  </div>

</div></div>