<div id='landing-page'>
  <div class='container-fluid'>
    <img class='rounded mx-auto d-block' src='/images/beer.png' />
  </div>
  <div id='buttonsBlock'>
    <a id='check-beer' class='btn btn-info' href='/beers'>Check the Beers!</a>
    <a id='check-random-beer' class='btn btn-warning' href='/random-beers'>Check
      Random Beeers!</a>
  </div>
</div>