<div>
  <img src='/images/beer.png' />
  <a id='check-beer' class='button' href='/beers'>Check the Beers!</a>
  <a id='check-random-beer' class='button' href='/random-beers'>Check Random
    Beeers!</a>
</div>