<div id='landing-page' style=" padding-top:5rem; ">
  <div class='container-fluid'>
    <img class='rounded mx-auto d-block' src='/images/beer.png'  style='max-width:  25% ; height: auto;'/>
  </div>
  <div id='buttonsBlock'>
    <a id='check-beer' class='btn btn-info' href='/beers' style="margin-top:0.5rem; ">Check the Beers!</a>
    <a id='check-random-beer' class='btn btn-warning' href='/random-beers'  style="margin-top:0.5rem; ">Check
      Random Beeers!</a>
  </div>
</div>